
body{
    margin: auto;
    transition: .3s;
    text-align: center;
  }
  
  .actionsquare, .displayedsquare{
    margin: 25px;
    height: 50px;
    width: 50px;
    transition: .3s;
    border-radius: 6px;
    box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.2);
  }
  
  .actionsquare:hover{
    transform: scale(1.5);
  }
  
  .green{
    background-color: green;
  }
  
  .white{
    background-color: rgb(216, 208, 208);
  }
  
  .red{
    background-color: red;
  }
  
  .actionsquare-wrapper, .displayedsquare-wrapper{
    display: flex;
    flex-wrap: wrap;
  }
  
  main{
    max-width: 1000px;
    margin: 100px auto;
  }

  h2{
    border-bottom: 2px solid black;
    max-width: 180px;
  }